.header{
    display:flex ;
    /* justify-content: space-around; */
    align-items: center;
    height: 100px;
    background-color: rgba(102, 205, 171, 0.199);
    color: white;
}
.brand{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    /* width: 20%; */
    margin: 10px;   
    margin-right: 50px;    
}
.searchbar{
    /* width: 40%; */
    align-items: center;
}