.header{
    display:flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    background-color: mediumaquamarine;
    color: white;
}
.brand{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    width: 20%;
    margin: 10px    
}
.searchbar{
    width: 40%;
    align-items: center;
}
.bar{
    width:40%;
    align-items: center;
}